@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* ROOT */
:root {
	--primary: #08c;
	--secondaryy: #fff;
	--yellow: #edc25f;
	--black: #000;
}

@font-face {
	font-family: "SF Pro";
	src: url(../fonts/SF-Pro.ttf);
}

ion-icon {
	color: #ffe600;
}

html.light {
	--primary: #08c;
	color: var(--black);
}

html.dark {
	--primary: #4c4c4c;
	color: var(--secondaryy);
}

* {
	margin: 0;
	padding: 0;
	font-family: "Nunito", "sans-serif";
}

img {
	width: 100%;
}

img {
	width: 100%;
}

/* Navbar */

.bg-idn {
	background-color: var(--primary);
}

/* Navbar end */

/* Main */
.main {
	width: 100vw;
	background: var(--primary);
	color: var(--secondaryy);
}

.hero {
	background: var(--primary);
	color: var(--secondaryy);
	min-height: 300px;
	background: linear-gradient(rgba(51, 51, 51, 0.8), rgba(51, 51, 51, 0.8)),
		url(../images/hero.png);
	background-size: cover;
	background-position: center;
}

.hero h1 {
	font-family: "SF Pro";
}

/* Image Welcome */

.image-welcome path {
	fill: var(--yellow);
	width: 400px;
}

@media screen and (min-width: 576px) {
	.image-welcome {
		width: 500px !important;
	}

	.welcome-area {
		width: auto !important;
	}
}

/* Image Welcome END */

/* Teachers */
@media (min-width: 768px) {
	.teachers {
		margin-top: -100px;
	}

	.teachers .teachers-wrapper {
		max-width: 1000px;
		width: auto !important;
	}
}

.teacher {
	border-top-right-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	box-shadow: rgba(0, 136, 204, 0.6) 15px 10px 15px;
}

.teacher-popover {
  --bs-popover-max-width: 300px;
  --bs-popover-border-color: var(--primary);
  --bs-popover-header-bg: var(--primary);
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
}
/* Teachers end */

.text-title {
	font-size: 2em;
}

.btn-down {
	color: var(--secondaryy);
}

.button-down {
	margin-top: 100px;
	animation: bounce 0.6s infinite ease alternate;
}

.main-about {
	background: #4c4c4c;
}

.swiper {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}

/* About Text */
.about-text {
    margin: auto;
	text-align: justify;
	margin: auto;
}

.logo img {
	width: 60px;
	transition: 0.3s;
}

.logo img:not(:first-child) {
	margin-left: -20px;
}

.logo img:hover + img {
	margin-left: 0;
}

.logo img:last-child:hover {
	margin-left: 0;
}

.logo img:hover {
	width: 80px;
}

.see-more {
	transition: 0.3s ease;
}

.see-more:hover {
	color: #08c !important;
}

/* About Text End*/
.main-about {
	background: #4c4c4c;
}

/* Photo Swiper */
.swiper-slide {
	padding: 16px;
	transition: 0.5s;
}

/* Photo Swiper End*/

@keyframes bounce {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(20px);
	}
}
